body {
    margin: 0;
    padding: 0;
    height: 150vh; 
    background: url('./background.jpg') center/cover no-repeat;
    color: rgb(245, 240, 240);
    font-family: 'Roboto Serif', serif;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
}
nav {
    align-self: center;
}
button {
    font-family: 'Roboto Serif', serif;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
}
.menu-tab {
    background-color: rgba(0, 0, 0, 0.3);
    width: 90%;
    padding: 10px;
}
.menu {
    display: flex;
    justify-content: center;
}
img {
    width: 14rem;
    height: 200px;
    border-radius: 100%;
}
.menu-item {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 10px;
    text-align: center;
}
@media (max-width: 600px) {
    .menu {
      flex-direction: column;
    }
}
.contact-tab {
    background-color: rgba(0, 0, 0, 0.3);
    width: 90%;
    padding: 10px;
}
.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    width: 90%;
    padding: 10px;
}